@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
/*HEADER*/
/*MAIN*/
/*FOOTER*/
/*PAGINA CONTACTO*/
/*OTROS*/
* {
  color: #000000;
  font-family: Roboto-light;
  font-size: 1.05em;
  margin: 0;
  padding: 0;
}

header {
  background-color: #408cd7;
  display: grid;
  /* NAV */
}
header .nav-titulo {
  align-items: center;
  justify-self: center;
}
header .pentagon {
  background-color: #555599;
  clip-path: polygon(50% 100%, 90% 82%, 75% 5%, 25% 5%, 10% 82%);
  height: 3.3em;
  position: absolute;
  width: 3.38em;
}
header .logo {
  clip-path: polygon(50% 100%, 90% 82%, 75% 5%, 25% 5%, 10% 82%); /*Rojo verde amarillo azul rosa */
  height: 3em;
  margin: 2px 0px 3px 3px;
  width: 3.1em;
}
header h1 {
  font-size: 3em;
  text-shadow: #ffffff 0px 0 8px;
}
header .titulo-mobile-invisible, header .titulo-mobile-actual {
  display: none;
}
header .navbar-personal {
  --bs-navbar-padding-y: 0rem;
}
header nav #container-fluid-personal {
  --bs-gutter-x: 0;
  justify-content: space-between;
}
header nav #container-fluid-personal .titulo-mobile-invisible {
  color: #408cd7;
}
header nav .navbar-toggler-personal {
  margin-bottom: 1dvh;
}
header nav .navbar-nav-personal {
  justify-content: space-around;
  width: 100%;
}
header nav .nav-link-personal {
  border: 1px solid #45759c;
  text-align: center;
  width: 20%;
}
header nav .activo {
  background-color: #45557c;
  border-bottom: none;
  font-weight: 700;
}
header nav .no-activo {
  background-image: radial-gradient(circle, #408cd7 0%, #80bcdc 100%);
  background-position: center;
  background-size: 500% 500%;
}
header nav .no-activo:hover {
  background-size: 50% 50%;
  font-weight: 500;
  transform: scale(1.08);
  transition: all 0.35s;
}

/* INDEX */
main {
  background-color: #45557c;
  display: grid;
  justify-items: center;
  padding: 2.5vh;
  /* INDEX-SIMBOLOS-MAPA-GASTRONOMIA-CONTACTO */
  /*PAGINA SIMBOLOS */
  /* PAGINA MAPA */
  /* PAGINA GASTRONOMIA */
  /* PAGINA CONTACTO */
}
main .galeria-mobile {
  display: none;
}
main .caja-paisaje {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
main .caja-paisaje img {
  align-items: center;
  align-content: center;
  border: 2px solid #2c2e2c;
  border-radius: 8px;
  width: 45dvw;
}
main figcaption {
  background-image: radial-gradient(#408cd7, #628088);
  border: 2px solid #28485d;
  border-radius: 5px;
  font-size: 0.9em;
  margin-top: 0.7dvh;
  padding: 0.1em 0.3em;
}
main #carouselWithCaptions {
  border: 3px solid #2c2e2c;
  border-radius: 5px;
  justify-self: center;
  width: 65%;
}
main #carouselWithCaptions li {
  list-style: none;
}
main .titulo-interno {
  font-family: sans-serif;
  font-size: 2.5em;
  text-align: center;
}
main .contenedor-multiuso, main .contenedor-multiuso-github {
  background-image: radial-gradient(#408cd7, #628088);
  border: 2px solid #2c2e2c;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5dvh;
  padding: 0.8em;
  width: 85%;
}
main .contenedor-multiuso-simbolos {
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .contenedor-multiuso-simbolos img {
  background-image: radial-gradient(#888888, #444444);
  border: 2px solid #2c2e2c;
  border-radius: 6px;
  width: 35dvw;
}
main .contenedor-multiuso-mapa img {
  background-color: #606060;
  border: 2px solid #2c2e2c;
  border-radius: 6px;
  max-height: 35dvw;
  width: 35dvw;
}
main .mapa-texto {
  font-size: 1em;
  padding: 0 2em;
}
main .google-map {
  border: 1px solid #2c2e2c;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5dvh;
  padding: 1px;
}
main .contenedor-multiuso-gastronomia img {
  background-image: radial-gradient(#888888, #444444);
  border: 2px solid #2c2e2c;
  border-radius: 6px;
  max-height: 35dvw;
  width: 35dvw;
}
main .titulo-interno-contacto {
  margin-top: 5dvh;
  text-decoration-line: underline;
}
main .contacto-p {
  margin: 0 0.5em;
  text-align: center;
}
main .contenedor-multiuso div, main .contenedor-multiuso-github div, main .contenedor-multiuso form, main .contenedor-multiuso-github form {
  width: 100%;
}
main .contacto-container-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}
main .contacto-input {
  display: block;
  border: 2px solid #2c2e2c;
  border-radius: 6px;
  box-shadow: 0.25em 0.4em 4px #232423;
  padding-left: 5px;
  text-align: left;
  width: 80%;
}
main .contacto-input:focus {
  background-color: #e8e4d4;
}
main .input-enviar {
  margin: 0.5em 0;
}
main .input-enviar .contacto-boton-enviar {
  border: 2px solid #2c2e2c;
  border-radius: 6px;
  box-shadow: 0.25em 0.4em 4px #232423;
  padding: 0 0.2dvw;
}
main .input-enviar .contacto-boton-enviar:active {
  box-shadow: 0.125em 0.2em 2px 0 #232423;
}
main .contenedor-multiuso-github {
  align-items: center;
  text-align: center;
  width: 40dvw;
}
main .contenedor-multiuso-github p {
  font-size: 1em;
  padding: 0 2em;
  text-align: center;
}
main .contenedor-multiuso-github .github-logo {
  max-width: 100px;
  width: 10dvw;
}

/* FOOTER */
.footer {
  --bs-gutter-x: 0; /* para eliminar el gutter no deseado de bootstrap */
}

footer {
  background-color: #2b4a69;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 15dvh;
}
footer h3 {
  color: #e2e0e8;
  font-size: 1em;
}
footer .footer-ubicacion {
  font-weight: bold;
}
footer .footer-titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
footer .footer-links {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .social-media {
  border: 2px solid #2c2e2c;
  border-radius: 48px;
  display: flex;
  height: 48px;
  margin-right: 1dvw;
  width: 48px;
}
footer .social-media:hover {
  filter: brightness(1.25);
}
footer .ig, footer .tw, footer .tk {
  background-color: #eeeeee;
}
footer .tw {
  position: relative;
}

/* PAGINA ERROR */
.body-error, .body-exito {
  background-color: #8f0505;
  height: 100dvh;
  overflow: hidden;
}

.main-error, .main-exito {
  align-items: center;
  background-color: #8f0505;
  display: flex;
  height: 50%;
  justify-content: center;
}

.contenedor-multiuso-error, .contenedor-multiuso-exito {
  align-items: center;
  background-color: #772e44;
  border: 2px solid #2c2e2c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 2dvw;
}
.contenedor-multiuso-error p, .contenedor-multiuso-exito p {
  font-weight: 600;
}

/* PAGINA EXITO */
.body-exito {
  background-color: #169016;
}

.main-exito {
  background-color: #169016;
}

.contenedor-multiuso-exito {
  background-color: #2f8e8a;
}

/*MEDIA QUERIES - DESKTOP*/
@media screen and (min-width: 768px) {
  /*MEDIA QUERIES - CONTACTO*/
  .titulo-interno-contacto {
    animation-duration: 2s;
  }
}
/*MEDIA QUERIES - MOBILE*/
@media screen and (max-width: 1200px) {
  header nav .titulo-mobile-invisible, header nav .titulo-mobile-actual {
    display: block;
  }
  header nav .navbar-toggler-icon-personal {
    filter: brightness(0);
  }
  header nav .navbar-nav-personal {
    align-items: center;
  }
  header nav .nav-link-personal {
    width: 100%;
  }
  header nav .activo {
    display: none;
  }
  main {
    /*MEDIA QUERIES - SIMBOLOS */
    /* MEDIA QUERIES - MAPA*/
    /*MEDIA QUERIES - GASTRONOMIA*/
    /*MEDIA QUERIES - CONTACTO*/
  }
  main .galeria-mobile {
    display: block;
  }
  main #carouselWithCaptions {
    display: none;
  }
  main .galeria-mobile {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }
  main .caja-paisaje {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .caja-paisaje img {
    width: 85dvw;
  }
  main .contenedor-multiuso .bandera-formosa, main .contenedor-multiuso-github .bandera-formosa {
    width: 65dvw;
  }
  main .contenedor-multiuso .escudo-formosa, main .contenedor-multiuso-github .escudo-formosa {
    height: 50dvw;
    width: 50dvw;
  }
  main .contenedor-multiuso-mapa {
    text-align: center;
  }
  main iframe {
    height: 300px;
    width: 350px;
  }
  main .contenedor-multiuso-gastronomia {
    text-align: center;
  }
  main .foto-gastronomia-2 {
    order: 1;
  }
  main .texto-gastronomia-2 {
    order: 2;
  }
  main .contenedor-multiuso, main .contenedor-multiuso-github {
    flex-wrap: wrap;
  }
  main .titulo-interno-contacto {
    animation-name: cambiar-colores;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    margin: 1dvh;
    padding: 0;
  }
  main .contenedor-multiuso-github {
    flex-wrap: nowrap;
    width: 65dvw;
  }
  footer {
    height: fit-content;
    padding: 1em;
    text-align: center;
  }
  footer .footer-links {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  main {
    /* MEDIA QUERIES - MAPA*/
    /*MEDIA QUERIES - CONTACTO*/
  }
  main .contenedor-multiuso, main .contenedor-multiuso-github {
    font-size: 0.8em;
  }
  main iframe {
    height: 240px;
    width: 240px;
  }
  main .titulo-interno-contacto {
    font-size: 1.5em;
  }
  main .input-mensaje {
    max-height: 40dvh;
  }
  main .contenedor-multiuso-github {
    flex-wrap: wrap;
    text-align: center;
  }
}
@keyframes cambiar-colores {
  0% {
    color: #ff6666;
  }
  25% {
    color: #bb4444;
  }
  50% {
    color: #663333;
  }
  75% {
    color: #331515;
  }
  100% {
    color: #000000;
  }
}

/*# sourceMappingURL=styles.css.map */
