@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@import "./partials/colores.scss";

*{
    color: $color-letra;
    font-family: Roboto-light;
    font-size: 1.05em;
    margin: 0;
    padding: 0;
}

header{
    background-color: $color-header;
    display: grid;
    .nav-titulo{
        align-items: center;
        justify-self: center;
    }
    .pentagon{
        background-color: $color-fondo-logo;
        clip-path: polygon(50% 100%, 90% 82%, 75% 5%, 25% 5%, 10% 82%);
        height: 3.3em;
        position: absolute;
        width: 3.38em;
    }
    .logo {
        clip-path: polygon(50% 100%, 90% 82%, 75% 5%, 25% 5%, 10% 82%); /*Rojo verde amarillo azul rosa */
        height: 3em;
        margin: 2px 0px 3px 3px;
        width: 3.1em;
    }
    h1{
        font-size: 3em;
        text-shadow: $color-brillo-h1 0px 0 8px;
    }
    .titulo-mobile-invisible, .titulo-mobile-actual{
        display: none;
    }
    
    /* NAV */
    .navbar-personal{  //Debería estar dentro del nav, pero si lo pongo adentro no lo toma
        --bs-navbar-padding-y: 0rem;
    }
    nav{
        #container-fluid-personal{
            --bs-gutter-x: 0;
            justify-content: space-between;
            .titulo-mobile-invisible{
                color: $color-header;
            }
        }
        .navbar-toggler-personal{
            margin-bottom: 1dvh;
        }
        .navbar-nav-personal{
            justify-content: space-around;
            width: 100%;
        }
        .nav-link-personal{
            border: 1px solid $color-borde-nav-link-personal;
            text-align: center;
            width: 20%;
        }
        .activo{
            background-color: $color-main;
            border-bottom: none;
            font-weight: 700;
        }
        .no-activo{
            background-image: $color-link-hover;
            background-position:center;
            background-size:500% 500%;
            &:hover{
                background-size:50% 50%;
                font-weight: 500;
                transform: scale(1.08);
                transition: all 0.35s;
            }
        }
    }
}

/* INDEX */
main{
    background-color: $color-main;
    display: grid;
    justify-items: center;
    padding: 2.5vh;
    .galeria-mobile{
        display: none;
    }
    .caja-paisaje{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        img{
            align-items: center;
            align-content: center;
            border: 2px solid $color-borde-caja;
            border-radius: 8px;
            width: 45dvw;
        }
    }
    figcaption{
        background-image: $color-contenedor-multiuso;
        border: 2px solid #28485d;
        border-radius: 5px;
        font-size: 0.9em;
        margin-top: 0.7dvh;
        padding: 0.1em 0.3em;
    }
    #carouselWithCaptions{
        border: 3px solid $color-borde-caja;
        border-radius: 5px;
        justify-self: center;
        width: 65%;
        li{
            list-style: none; //Para borrar los números por defecto en el carousel
        }
    }
    .titulo-interno{
        font-family: sans-serif;
        font-size: 2.5em;
        text-align: center;
    }

    /* INDEX-SIMBOLOS-MAPA-GASTRONOMIA-CONTACTO */
    .contenedor-multiuso{
        background-image: $color-contenedor-multiuso;
        border: 2px solid $color-borde-caja;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin-bottom: 2.5dvh;
        padding: 0.8em;
        width: 85%;
    }    

    /*PAGINA SIMBOLOS */
    .contenedor-multiuso-simbolos{
        align-items: center;
        flex-direction: column;
        text-align: center;
        img{
            background-image: radial-gradient(#888888,#444444);
            border: 2px solid $color-borde-caja;
            border-radius: 6px;
            width: 35dvw;
        }
    }

    /* PAGINA MAPA */
    .contenedor-multiuso-mapa{
        img{
            background-color: #606060;
            border: 2px solid #2c2e2c; 
            border-radius: 6px;
            max-height: 35dvw;
            width: 35dvw;
        }
    }
    .mapa-texto{
        font-size: 1em;
        padding: 0 2em;
    }
    .google-map{
        border: 1px solid $color-borde-caja;
        border-radius: 4px;
        display: flex; // Para que ocupe toda la caja
        justify-content: center;
        margin-bottom: 2.5dvh;
        padding: 1px;
    }

    /* PAGINA GASTRONOMIA */
    .contenedor-multiuso-gastronomia{
        img{
            background-image: radial-gradient(#888888,#444444);
            border: 2px solid $color-borde-caja;
            border-radius: 6px;
            max-height: 35dvw;
            width: 35dvw;
        }
    }

    /* PAGINA CONTACTO */
    .titulo-interno-contacto{
        margin-top: 5dvh;
        text-decoration-line: underline;
    }
    .contacto-p{
        margin: 0 0.5em;
        text-align: center;
    }
    .contenedor-multiuso div, .contenedor-multiuso form{
        width: 100%;
    }
    .contacto-container-input{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0.5em 0;
    }
    .contacto-input{
        display: block;
        border: 2px solid $color-borde-caja;
        border-radius: 6px;
        box-shadow: $box-shadow-input $color-sombra-input;
        padding-left: 5px;
        text-align: left;
        width: 80%;
        &:focus{
            background-color: $color-fondo-input;
        }
    }
    .input-enviar{
        margin: 0.5em 0;
        .contacto-boton-enviar{
            border: 2px solid $color-borde-caja;
            border-radius: 6px;
            box-shadow: $box-shadow-input $color-sombra-input;
            padding: 0 0.2dvw;
            &:active{
                box-shadow: 0.125em 0.2em 2px 0 $color-sombra-input;
            }
        }
    }
    .contenedor-multiuso-github{
        @extend .contenedor-multiuso;
        align-items: center;
        text-align: center;
        width: 40dvw;
        p{
            font-size: 1em;
            padding: 0 2em;
            text-align: center;
        }
        .github-logo{
            max-width: 100px;
            width: 10dvw;
        }
    }
}

/* FOOTER */

.footer{
    --bs-gutter-x: 0;   /* para eliminar el gutter no deseado de bootstrap */
}
footer{
    background-color: $color-footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 15dvh;
    h3{
        color:$color-footer-fuente;
        font-size: 1em;
    }
    .footer-ubicacion{
        font-weight: bold;
    }
    .footer-titles{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .footer-links{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-media{
        border: 2px solid $color-social-media;
        border-radius: 48px;
        display: flex;
        height: 48px;
        margin-right: 1dvw;
        width: 48px;
        &:hover{
            filter: brightness(1.25);
        }
    }
    .ig, .tw, .tk{
        background-color: #eeeeee;
    }
    .tw{
        position: relative;
    }
}

/* PAGINA ERROR */
.body-error{
    background-color: $color-error;
    height: 100dvh;
    overflow: hidden;
}

.main-error{
    align-items: center;
    background-color: $color-error;
    display: flex;
    height: 50%;
    justify-content:center;
}

.contenedor-multiuso-error{
    align-items: center;
    background-color: $color-error-interno;
    border: 2px solid $color-borde-caja;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2dvw;
    p{
        font-weight: 600;
    }
}

/* PAGINA EXITO */
.body-exito{
    @extend .body-error;
    background-color: $color-exito;
}

.main-exito{
    @extend .main-error;
    background-color: $color-exito;
}

.contenedor-multiuso-exito{
    @extend .contenedor-multiuso-error;
    background-color: $color-exito-interno;
}

@import "./partials/queries";
@import "./partials/keyframes";