$color-letra:#000000;

/*HEADER*/
$color-header: #408cd7;
$color-brillo-h1: #ffffff;
$color-fondo-logo:#555599;
$color-borde-nav-link-personal:#45759c;
$color-link-hover: radial-gradient(circle, $color-header 0%, #80bcdc 100%);

/*MAIN*/
$color-main:#45557c;
$color-borde-caja:#2c2e2c;
$color-contenedor-multiuso:radial-gradient(mix($color-header,$color-main,60%),mix($color-header,$color-main,40%));
$color-contenedor-multiuso:radial-gradient(#408cd7,#628088);

/*FOOTER*/
$color-footer:#4E7B99;
$color-footer:#2b4a69;
$color-footer-fuente:#e2e0e8;
$color-social-media: $color-borde-caja;

/*PAGINA CONTACTO*/
$color-sombra-input: #232423;
$color-fondo-input: #d2d0c8;
$color-fondo-input: #e8e4d4;
$box-shadow-input: 0.25em 0.4em 4px;

/*OTROS*/
$color-error:#8f0505;
$color-error-interno:mix($color-error,$color-header,70%);
$color-exito: #169016;
$color-exito-interno:mix($color-exito,$color-header,40%);