@keyframes cambiar-colores{
    0%{
        color: #ff6666;
    }
    25%{
        color: #bb4444;
    }
    50%{
        color: #663333;
    }
    75%{
        color: #331515;
    }
    100%{
        color: $color-letra;
    }
}

@keyframes mover-titulo-mobile{
    0%{
        translate: 0;
    }
    33%{
        translate: 20%;
    }
    66%{
        translate: -20%;
    }
    100%{
        translate: 0;
    }
}

@keyframes mover-titulo-exclusivo{ //Animación exclusiva de width:1366px
    0%{
        translate: 5%;
        color: green;
    }
    15%{
        translate: 25% -200%;
        color: blue;
    }
    25%{
        translate: 10% -350%;
        color: red;
    }
    50%{
        translate: -25% 0%;
        color: yellow;
    }
    66%{
        translate: -40% -200%;
        color: purple;
    }
    80%{
        translate: -20% -350%;
        color: white;
    }
    100%{
        translate: 5%;
        color: green;
    }
}