/*MEDIA QUERIES - DESKTOP*/
@media screen and (min-width:768px){
    /*MEDIA QUERIES - CONTACTO*/
    .titulo-interno-contacto{
        animation-duration: 2s;
    }
}

/*MEDIA QUERIES - MOBILE*/
@media screen and (max-width:1200px){
    header{
        nav{
            .titulo-mobile-invisible, .titulo-mobile-actual{
                display: block;
            }
            .navbar-toggler-icon-personal{
                filter: brightness(0); //Para hacer que el boton sea negro
            }
            .navbar-nav-personal{
                align-items: center;
            }
            .nav-link-personal{
                width: 100%;
            }
            .activo{
                display: none;
            }
        }
    }
    
    main{
        .galeria-mobile{
            display: block;
        }
        #carouselWithCaptions{
            display: none;
        }
        .galeria-mobile{
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
        }
        .caja-paisaje{
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .caja-paisaje img{
            width: 85dvw;
        }
        /*MEDIA QUERIES - SIMBOLOS */
        .contenedor-multiuso .bandera-formosa{
            width: 65dvw;
        }
        .contenedor-multiuso .escudo-formosa{
            height: 50dvw;
            width: 50dvw;
        }
        /* MEDIA QUERIES - MAPA*/
        .contenedor-multiuso-mapa{
            text-align: center;
        }
        iframe{
            height: 300px;
            width: 350px;
        }
        /*MEDIA QUERIES - GASTRONOMIA*/
        .contenedor-multiuso-gastronomia{
            text-align: center;
        }
        .foto-gastronomia-2{
            order: 1;
        }
        .texto-gastronomia-2{
            order: 2;
        }
        /*MEDIA QUERIES - CONTACTO*/
        .contenedor-multiuso{
            flex-wrap: wrap;
        }
        .titulo-interno-contacto{
            animation-name: cambiar-colores;
            animation-duration: 1.5s;
            animation-iteration-count: 2;
            margin: 1dvh;
            padding: 0;
        }
        .contenedor-multiuso-github{
            flex-wrap: nowrap;
            width: 65dvw;
        }
    }
    
    footer{
        height: fit-content;
        padding: 1em;
        text-align: center;
        .footer-links{
            width: 100%;
        }
    }
}

@media screen and (max-width:768px){
    main{
        /* MEDIA QUERIES - MAPA*/
        .contenedor-multiuso-mapa{
            img{
                width: 55dvw;
            }
        }
        /* MEDIA QUERIES - GASTRONOMIA*/
        .contenedor-multiuso-gastronomia{
            img{
                width: 55dvw;
            }
        }
    }
}

@media screen and (max-width:480px){
    main{
        .contenedor-multiuso{
            font-size: 0.8em;
        }
        /* MEDIA QUERIES - MAPA*/
        iframe{
            height: 240px;
            width: 240px;
        }
        /*MEDIA QUERIES - CONTACTO*/
        .titulo-interno-contacto{
            font-size: 1.5em;
        }
        .input-mensaje{
            max-height: 40dvh;
        }
        .contenedor-multiuso-github{
            flex-wrap: wrap;
            text-align: center;
        }
    }
}